<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css}">-->
<link rel="stylesheet" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap-switch/4.0.0-alpha.1/dist/css/bootstrap-switch.min.css}">
<body>
<section>
  <div class="container-fluid">
    <div class="row">
      <input type="checkbox" name="test">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title ng-scope">历史记录</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="view" id="transactionData">
                      <table class="table table-striped" contenteditable="false" spellcheck="false">
                        <thead>
                        <tr>
                          <th>时间</th>
                          <th>交易所</th>
                          <th>交易商品</th>
                          <th>交易策略</th>
                          <th>交易类型</th>
                          <th>下单类型</th>
                          <th>成交数量</th>
                          <th>成交价格</th>
                          <th>手续费</th>
                          <th>成交状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="record in transactionRecords">
                          <td>{{record.time}}</td>
                          <td>{{record.exchangeType}}</td>
                          <td>{{record.tradingGoods}}</td>
                          <td>{{record.tradingStrategy}}</td>
                          <td>{{record.tradingType}}</td>
                          <td>{{record.orderType}}</td>
                          <td>{{record.tradingVolume}}</td>
                          <td>{{record.tradingPrice}}</td>
                          <td>{{record.commissionCharge}}</td>
                          <td>{{record.tradingStatus}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
<script th:src="@{/webjars/vue/2.6.11/vue.min.js}"></script>
<script th:src="@{/webjars/vue-resource/0.7.0/dist/vue-resource.min.js}"></script>
<!--<script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>-->
<!--<script th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<script th:src="@{/webjars/bootstrap/3.3.6/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-switch/4.0.0-alpha.1/dist/js/bootstrap-switch.min.js}"></script>
<script th:src="@{/webjars/momentjs/2.10.3/moment.js}"></script>
<script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.js}"
        charset="UTF-8"></script>
<script type='text/javascript' th:inline="javascript">
  $("[name='test']").bootstrapSwitch();
  var vm = new Vue({
    el: '#transactionData',
    data: {
      transactionRecords: [
        {
          time: '2019-01-05 19:30:29',
          exchangeType: '火币',
          tradingGoods: 'BTC',
          tradingStrategy: '五日线策略',
          tradingType: '买',
          orderType: '市价单',
          tradingVolume: '100',
          tradingPrice: '9,000',
          commissionCharge: '90',
          tradingStatus: '成功'
        },
        {
          time: '2019-01-04 19:30:29',
          exchangeType: '火币',
          tradingGoods: 'ZIL',
          tradingStrategy: '五日线策略',
          tradingType: '卖',
          orderType: '市价单',
          tradingVolume: '1000',
          tradingPrice: '0.15',
          commissionCharge: '90',
          tradingStatus: '成功'
        }
      ]
    }
  })
</script>

<script type="text/javascript">
  $(function () {
    $('#startDate').datetimepicker();

    $('#endDate').datetimepicker();
  });
</script>

</html>

